---
title: "!(stupid.name)"
description: Not very stupid description
layout: generic
permalink: /
---

<main>
    <div class="container">
        <h1>Архитектурное бюро А510</h1>
        <p>Один абзац текста про то, какие мы крутые и вообще. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику.</p>
        <h2>Чо мы вообще делаем</h2>
    </div>
    <!-- <img class="image" src="/images/plan.png"> -->
    <div style="position:relative;">
        {% include_relative map.svg %}
        <div id="popup1" class="popup_overlay hide">
            <div class="popup_close_button popup_close" data-popup="popup1">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 5 100" xml:space="preserve">
                    <g>
                        <line x1="3" y1="0" x2="3" y2="100"/>
                    </g>
                </svg>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 5 100" xml:space="preserve">
                    <g>
                        <line x1="3" y1="0" x2="3" y2="100"/>
                    </g>
                </svg>
            </div>
            <h3>Маленькие домики</h3>
            <p>Маленькие домики сидят на грядке, потому что лучше мы ничего не придумали. Обычно мы стараемся сделать красиво, но тут нам было до пизды.</p>
        </div>
        <div id="popup2" class="popup_overlay hide">
            <div class="popup_close_button popup_close" data-popup="popup2">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 5 100" xml:space="preserve">
                    <g>
                        <line x1="3" y1="0" x2="3" y2="100"/>
                    </g>
                </svg>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 5 100" xml:space="preserve">
                    <g>
                        <line x1="3" y1="0" x2="3" y2="100"/>
                    </g>
                </svg>
            </div>
            <h3>Средние дома</h3>
            <p>Такие дома мы всегда расставляем наотъебись, потому что в них живут ссаные нищеброды и они должны страдать.</p>
        </div>
        <div id="popup3" class="popup_overlay hide">
            <div class="popup_close_button popup_close" data-popup="popup3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 5 100" xml:space="preserve">
                    <g>
                        <line x1="3" y1="0" x2="3" y2="100"/>
                    </g>
                </svg>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 5 100" xml:space="preserve">
                    <g>
                        <line x1="3" y1="0" x2="3" y2="100"/>
                    </g>
                </svg>
            </div>
            <h3>Большие домищи</h3>
            <p>Большому дому большой участок? Да хуй там! Мы расставляем большие дома так, чтобы ты видел, как срёт твой сосед и мог подкинуть ему бумаги, если вдруг закончилась.</p>
            <p>Большому дому большой участок? Да хуй там! Мы расставляем большие дома так, чтобы ты видел, как срёт твой сосед и мог подкинуть ему бумаги, если вдруг закончилась.</p>
            <p>Большому дому большой участок? Да хуй там! Мы расставляем большие дома так, чтобы ты видел, как срёт твой сосед и мог подкинуть ему бумаги, если вдруг закончилась.</p>
        </div>
    </div>
    <hr>
    <div class="container">
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
        <h2>А вот длинный заголовок на русском</h2>
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
    </div>
    <hr>
    <div class="container drawing">
        {% include_relative flow.svg %}
    </div>
    <div class="container">
        <h2>Header 2</h2>
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
    </div>
    <img class="image"
        alt="Каркасный дуплекс ТМ-120"
        title="Каркасный дуплекс ТМ-120"
        width="1920"
        height="1080"
        src="/images/kgd/kgd-01_1920w.jpg"
        srcset="/images/kgd/kgd-01_1600w.jpg 1600w, /images/kgd/kgd-01_1200w.jpg 1200w, /images/kgd/kgd-01_800w.jpg 800w,  /images/kgd/kgd-01_400w.jpg 400w"
    >
    <div class="container">
        <h2>Header 2</h2>
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
    </div>
</main>