---
title: "!(stupid.name)"
description: Not very stupid description
layout: generic
permalink: /
---

<main>
    <div class="container">
        <h1>Архитектурное бюро А510</h1>
        <p>Один абзац текста про то, какие мы крутые и вообще. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику.</p>
        <h2>Чо мы вообще делаем</h2>
    </div>
    <!-- <img class="image" src="/images/plan.png"> -->
    <div style="position:relative;">
        {% include_relative map.svg %}
        <div id="popup1" class="overlay">
            <a class="cancel" href="#"></a>
            <div class="popup">
                <h2>Info box</h2>
                <div class="content">
                    <p>This is done totally without JavaScript. Just HTML and CSS.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
        <h2>А вот длинный заголовок на русском</h2>
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
    </div>
    <hr>
    <div class="container drawing">
        {% include_relative flow.svg %}
    </div>
    <div class="container">
        <h2>Header 2</h2>
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
    </div>
    <img class="image"
        alt="Каркасный дуплекс ТМ-120"
        title="Каркасный дуплекс ТМ-120"
        width="1920"
        height="1080"
        src="/images/kgd/kgd-01_1920w.jpg"
        srcset="/images/kgd/kgd-01_1600w.jpg 1600w, /images/kgd/kgd-01_1200w.jpg 1200w, /images/kgd/kgd-01_800w.jpg 800w,  /images/kgd/kgd-01_400w.jpg 400w"
    >
    <div class="container">
        <h2>Header 2</h2>
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
        <p>Одной из важнейших задач конкурса стала задача реорганизации жизни и реновация центральной части Норильска. Основная идея проекта — не только физическая реконструкция и реновация жилого фонда города, производства и инфраструктуры, но и переход на новую наукоемкую, осознанную и экологически чистую экономику. Для достижения этой цели планируется модернизировать производства в новый технопарк, расширить Заполярный университет новыми зданиями кампуса и научно-исследовательского центра, а также построить новый центр развития технологий «Никелевая долина», где молодые специалисты и студенты смогут работать, создавать стартапы, направленные на изучение Арктики и применении новейших технологий в добывающей промышленности.</p>
    </div>
</main>