---
title: "Project title"
description: Stupid description
layout: generic
permalink: /proekty/project
---

<main>
    <img class="image" style="max-height: 65vh;" src="/images/tm120-1.jpg">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Проекты</a></li>
            <li><a href="#">Таунхаусы-дуплексы</a></li>
            <li><span>Каркасный дуплекс ТМ-120</span></li>
        </ul>
        <h1>Каркасный эконом дуплекс ТМ-120</h1>
        <p>Проект - финалист конкурса на жилье нового типа для молодых семей. Две основные составляющие это проекта - самые бюджетные материалы и современная архитектура. Идеальная планировка, простая и чистая форма в сочетании с технологией каркасного строительства и дешевыми строительными конструкциями позволили сделать красивый, функциональный и экономичный дуплекс. Профлист - один из самых доступных материалов на рынке - основной отделочный материал всего дома. Стоимость строительства можно уменьшать за счет сокращения остекления секций не ухудшая внешний вид дома.</p>
    </div>
    <div class="container">
        <h2>План 1-го этажа</h2>
    </div>
    {% include_relative floor1.txt %}
    <div class="container">
        <h2>План 2-го этажа</h2>
    </div>
    {% include_relative floor2.txt %}
    <div class="container" style="display: grid;grid-template-columns: repeat(auto-fill, minmax(min(23.5em, 100%), 1fr));gap: 0 3rem;">
        <div>
            <h2>Технические характеристики</h2>
            <table>
                <tbody>
                    <tr>
                        <td>Количество этажей</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Количество квартир</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Площадь квартир:</td>
                        <td>35м<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Площадь здания:</td>
                        <td>340м<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Площадь застройки:</td>
                        <td>255м<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Габаритные размеры</td>
                        <td>18.30 x 15.35м</td>
                    </tr>
                    <tr>
                        <td>Высота этажа</td>
                        <td>3.0м</td>
                    </tr>
                    <tr>
                        <td>Высота здания</td>
                        <td>10.2м</td>
                    </tr>
                    <tr>
                        <td>Фундамент</td>
                        <td>Монолитная лента</td>
                    </tr>
                    <tr>
                        <td>Конструкция стен</td>
                        <td>Ж/б каркас, газобетон</td>
                    </tr>
                    <tr>
                        <td>Перекрытия</td>
                        <td>Монолитный ж/б</td>
                    </tr>
                    <tr>
                        <td>Облицовка стен</td>
                        <td>Штукатурка, керамогранит</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h2>Стоимость</h2>
            <table>
                <tbody>
                    <tr>
                        <td>Готовый проект *</td>
                        <td>120 000 Р</td>
                    </tr>
                    <tr>
                        <td>Инженерные системы</td>
                        <td>200 000 Р</td>
                    </tr>
                    <tr>
                        <td>Дизайн интерьера</td>
                        <td>250 000 Р</td>
                    </tr>
                    <tr>
                        <td>Индивидуальный проект</td>
                        <td>от 300 000 Р</td>
                    </tr>
                    <tr>
                        <td>План развития территории</td>
                        <td>от 200 000 Р</td>
                    </tr>
                </tbody>
            </table>
            <p style="font-size: 0.9em;color: var(--mid-color);">* В состав проекта входят все чертежи, чтобы построить дом как на картинках. А ещё мы можем внести в проект изменения, если нужно.</p>
            <a href="#">
                <h3>Заказать проект</h3>
            </a>
            <a href="#">
                <h3>Задать вопрос</h3>
            </a>
        </div>
    </div>
    <div class="container">
        <h2>Галерея</h2>
    </div>
    <div class="slider">
        <div class="slide" id="slide__1">
            <img class="image" src="/images/tm120-1.jpg">
            <a href="#slide__3" class="slider_prev">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51 174" xml:space="preserve">
                    <g id="LINE">
                        <line class="st0" x1="0.5" y1="86.9" x2="50.5" y2="0.3"/>
                    </g>
                    <g id="LINE_1_">
                        <line class="st1" x1="0.5" y1="86.9" x2="50.5" y2="173.5"/>
                    </g>
                </svg>
            </a>
            <a href="#slide__2" class="slider_next">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51 174" xml:space="preserve">
                    <g id="LINE">
                        <line class="st0" x1="0.5" y1="86.9" x2="50.5" y2="0.3"/>
                    </g>
                    <g id="LINE_1_">
                        <line class="st1" x1="0.5" y1="86.9" x2="50.5" y2="173.5"/>
                    </g>
                </svg>
            </a>
        </div>
        <div class="slide" id="slide__2">
            <img class="image" src="/images/pic169.jpg">
            <a href="#slide__1" class="slider_prev">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51 174" xml:space="preserve">
                    <g id="LINE">
                        <line class="st0" x1="0.5" y1="86.9" x2="50.5" y2="0.3"/>
                    </g>
                    <g id="LINE_1_">
                        <line class="st1" x1="0.5" y1="86.9" x2="50.5" y2="173.5"/>
                    </g>
                </svg>
            </a>
            <a href="#slide__3" class="slider_next">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51 174" xml:space="preserve">
                    <g id="LINE">
                        <line class="st0" x1="0.5" y1="86.9" x2="50.5" y2="0.3"/>
                    </g>
                    <g id="LINE_1_">
                        <line class="st1" x1="0.5" y1="86.9" x2="50.5" y2="173.5"/>
                    </g>
                </svg>
            </a>
        </div>
        <div class="slide" id="slide__3">
            <img class="image" src="/images/pic169_2.jpg">
            <a href="#slide__2" class="slider_prev">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51 174" xml:space="preserve">
                    <g id="LINE">
                        <line class="st0" x1="0.5" y1="86.9" x2="50.5" y2="0.3"/>
                    </g>
                    <g id="LINE_1_">
                        <line class="st1" x1="0.5" y1="86.9" x2="50.5" y2="173.5"/>
                    </g>
                </svg>
            </a>
            <a href="#slide__1" class="slider_next">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51 174" xml:space="preserve">
                    <g id="LINE">
                        <line class="st0" x1="0.5" y1="86.9" x2="50.5" y2="0.3"/>
                    </g>
                    <g id="LINE_1_">
                        <line class="st1" x1="0.5" y1="86.9" x2="50.5" y2="173.5"/>
                    </g>
                </svg>
            </a>
        </div>
    </div>
    <div class="container">
        <h2>Еще какой-то заголовок</h2>
        <p>Проект - финалист конкурса на жилье нового типа для молодых семей. Две основные составляющие это проекта - самые бюджетные материалы и современная архитектура. Идеальная планировка, простая и чистая форма в сочетании с технологией каркасного строительства и дешевыми строительными конструкциями позволили сделать красивый, функциональный и экономичный дуплекс. Профлист - один из самых доступных материалов на рынке - основной отделочный материал всего дома. Стоимость строительства можно уменьшать за счет сокращения остекления секций не ухудшая внешний вид дома.</p>
    </div>
    <img class="image" src="/images/6.png">
    <div class="container">
        <h2>Похожие проекты</h2>
    </div>
    <div class="container big">
        <div class="projects-grid">
            <a href="/proekty/project" class="projects-item">
                <img src="/images/tm120-1.jpg" />
                <div class="caption">
                    <h3>Комплекс апартаментов в Крыму</h3>
                    <p>Подзаголовок или короткое описание</p>
                </div>
            </a>
            <a href="#" class="projects-item">
                <img src="/images/169.jpg" />
                <div class="caption">
                    <h3>Каркасный дуплекс ТМ-120</h3>
                    <p>Таунхаус в скандинавском стиле</p>
                </div>
            </a>
            <a href="#" class="projects-item">
                <img src="/images/pic169_2.jpg" />
                <div class="caption">
                    <h3>Апарт отель в Крыму</h3>
                </div>
            </a>
            <a href="#" class="projects-item">
                <img src="/images/pic169.jpg" />
                <div class="caption">
                    <h3>Каркасный дуплекс ТМ-120</h3>
                    <p>Таунхаус в скандинавском стиле</p>
                </div>
            </a>
        </div>
    </div>
    <aside id="cta">
        <div class="container">
            <h2>Есть вопросы?</h2>
            <p>Задайте их архтектору</p>
            <h3>Получить консультацию</h3>
        </div>
    </aside>
</main>
