<aside id="cta">
    <h2>Есть вопросы?</h2>
    <p>Задайте их руководителю бюро</p>
    <hr>
    <a href="#" class="button special">
        <span>Получить консультацию</span>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51 174" xml:space="preserve">
            <g id="LINE">
                <line class="st0" x1="0.5" y1="86.9" x2="50.5" y2="0.3"/>
            </g>
            <g id="LINE_1_">
                <line class="st1" x1="0.5" y1="86.9" x2="50.5" y2="173.5"/>
            </g>
        </svg>
    </a>
</aside>