<div class="container">
    <h2>Похожие проекты</h2>
</div>
<div class="container big">
    <div class="projects-grid">
        <a href="/proekty/taunhausy-dupleksy/karkasnyi-ekonom-dupleks-120m" class="projects-item">
            <img
                alt="Каркасный дуплекс ТМ-120"
                title="Каркасный дуплекс ТМ-120"
                width="1920"
                height="1080"
                src="/images/kgd/kgd-01_1920w.jpg"
                srcset="/images/kgd/kgd-01_1920w.jpg 1920w, /images/kgd/kgd-01_1600w.jpg 1600w, /images/kgd/kgd-01_1200w.jpg 1200w, /images/kgd/kgd-01_800w.jpg 800w,  /images/kgd/kgd-01_400w.jpg 400w"
            >
            <div class="caption">
                <h3>Комплекс апартаментов в Крыму</h3>
                <p>Подзаголовок или короткое описание</p>
            </div>
        </a>
        <a href="/proekty/taunhausy-dupleksy/karkasnyi-ekonom-dupleks-120m" class="projects-item">
            <img
                alt="Каркасный дуплекс ТМ-120"
                title="Каркасный дуплекс ТМ-120"
                width="1920"
                height="1080"
                src="/images/dom2/dom2-01_1920w.jpg"
                srcset="/images/dom2/dom2-01_1920w.jpg 1920w, /images/dom2/dom2-01_1600w.jpg 1600w, /images/dom2/dom2-01_1200w.jpg 1200w, /images/dom2/dom2-01_800w.jpg 800w,  /images/dom2/dom2-01_400w.jpg 400w"
            >
            <div class="caption">
                <h3>Частная резиденция</h3>
                <p>Современный дом успешного наркоторговца</p>
            </div>
        </a>
        <a href="/proekty/taunhausy-dupleksy/karkasnyi-ekonom-dupleks-120m" class="projects-item">
            <img
                alt="Каркасный дуплекс ТМ-120"
                title="Каркасный дуплекс ТМ-120"
                width="1920"
                height="1080"
                src="/images/dom1/dom1-01_1920w.jpg"
                srcset="/images/dom1/dom1-01_1920w.jpg 1920w, /images/dom1/dom1-01_1600w.jpg 1600w, /images/dom1/dom1-01_1200w.jpg 1200w, /images/dom1/dom1-01_800w.jpg 800w,  /images/dom1/dom1-01_400w.jpg 400w"
            >
            <div class="caption">
                <h3>Апарт отель в Крыму</h3>
            </div>
        </a>
        <a href="/proekty/taunhausy-dupleksy/karkasnyi-ekonom-dupleks-120m" class="projects-item">
            <img
                alt="Каркасный дуплекс ТМ-120"
                title="Каркасный дуплекс ТМ-120"
                width="1920"
                height="1080"
                src="/images/mk-615-02.jpg"
                
            >
            <div class="caption">
                <h3>Комплекс апартаментов в Крыму</h3>
                <p>Подзаголовок или короткое описание</p>
            </div>
        </a>
    </div>
</div>
<div class="container">
    <hr>
    <div style="display:flex;flex-direction:column;gap: 1.5rem;align-items:flex-end;">
        {%-assign url_list = page.url | split: '/'-%}
        {%-assign category_name = url_list[-2]-%}
        {%-assign cats = site.proekty | where: "type", "category"-%}
        {%-for item in cats -%}
            {%-assign url_list = item.url | split: '/'-%}
            {%-if category_name == url_list[-1]-%}
                {%-assign cat_tiny_title = item.page-tiny-title-%}
                {%-assign cat_url = item.url-%}
                {%-break-%}
            {%-endif-%}
        {%-endfor-%}
        <a href="{{cat_url}}" class="button special">
            <span>все {{cat_tiny_title}}</span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51 174" xml:space="preserve">
                <g id="LINE">
                    <line class="st0" x1="0.5" y1="86.9" x2="50.5" y2="0.3"></line>
                </g>
                <g id="LINE_1_">
                    <line class="st1" x1="0.5" y1="86.9" x2="50.5" y2="173.5"></line>
                </g>
            </svg>
        </a>
        <a href="/proekty/" class="button">
            <span>все проекты</span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51 174" xml:space="preserve">
                <g id="LINE">
                    <line class="st0" x1="0.5" y1="86.9" x2="50.5" y2="0.3"></line>
                </g>
                <g id="LINE_1_">
                    <line class="st1" x1="0.5" y1="86.9" x2="50.5" y2="173.5"></line>
                </g>
            </svg>
        </a>
    </div>
</div>