<div class="worklist">
    <a href="/proekty/"{%if page.url == '/proekty/'%} class="current"{%endif%}>Все проекты</a>
    <a href="/proekty/doma-kottedji/"{%if page.url contains 'doma-kottedji'%} class="current"{%endif%}>Частные дома</a>
    <a href="/proekty/taunhausy-dupleksy/"{%if page.url contains 'taunhausy-dupleksy'%} class="current"{%endif%}>Таунхаусы - дуплексы</a>
    <a href="/proekty/kvadrohausy/"{%if page.url contains 'kvadrohausy'%} class="current"{%endif%}>Блокированные дома</a>
    <a href="/proekty/mnogokvartirnye/"{%if page.url contains 'mnogokvartirnye'%} class="current"{%endif%}>Многоквартирные дома</a>
    <a href="/proekty/razvitie-territorii/"{%if page.url contains 'razvitie-territorii'%} class="current"{%endif%}>Развитие территории</a>
    <a href="/proekty/uniq-stuff/"{%if page.url contains 'uniq-stuff'%} class="current"{%endif%}>Индивидуальные проекты</a>
</div>