p:first-child {
    margin: 0;
}

p + h1 {
    margin-bottom: 1rem;
}

ul {
    list-style: disc;
    margin:0 0 1rem 2rem;
}

.container {
    width: clamp(200px, 100%, 50rem);
}

@media screen and (max-width: 800px) {

    .container {
        padding: 0 2rem;
        width: calc(100% - 4rem);
    }

}

@media screen and (max-width: 550px) {

    .container{
        padding: 0 1rem;
        width: calc(100% - 2rem);
    }

}

@media print {

    @page {

        margin: 1cm;

    }

    #header, #footer {
        display: none;
    }

    body {
        font-size: 14px;
    }

    hr {
        page-break-after: always;
    }

    ul {
        page-break-inside: avoid;
    }
}