p:first-child {
    margin: 0;
}

p + h1 {
    margin-bottom: 0.2rem;
}

ul {
    list-style: disc;
    margin:0 0 1rem 2rem;
}

@media print {

    @page {

        margin: 1cm;

    }

    #header, #footer {
        display: none;
    }

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.35rem;
    }

    h3 {
        font-size: 1.2rem;
    }
    /* hr {
        page-break-after: always;
    } */

    ul {
        page-break-inside: avoid;
    }

    h2:not(:first-of-type) {
        page-break-before: always;
    }

    table tbody tr {
        border: none;
    }
}