<!DOCTYPE html>
<html lang="ru">
    {% include head.html %}
    <body class="is-loading">
        {% include header.html %}
        <main>
            <div class="container">
                {% include breadcrumbs.html %}
                <h1>{{page.page-title}}</h1>
                <p>{{page.page-description}}</p>
            </div>
            
            {% include worklist.html %}
        
            <div class="container big">
                <div class="projects-grid">
                    <a href="/proekty/project" class="projects-item">
                        <img src="/images/tm120-1.jpg" />
                        <div class="caption">
                            <h3>Комплекс апартаментов в Крыму</h3>
                            <p>Подзаголовок или короткое описание</p>
                        </div>
                    </a>
                    <a href="#" class="projects-item">
                        <img src="/images/kgd/kgd-01.jpg" />
                        <div class="caption">
                            <h3>Каркасный дуплекс ТМ-120</h3>
                            <p>Таунхаус в скандинавском стиле</p>
                        </div>
                    </a>
                    <a href="#" class="projects-item">
                        <img src="/images/pic169_2.jpg" />
                        <div class="caption">
                            <h3>Апарт отель в Крыму</h3>
                        </div>
                    </a>
                    <a href="#" class="projects-item">
                        <img src="/images/pic169.jpg" />
                        <div class="caption">
                            <h3>Каркасный дуплекс ТМ-120</h3>
                            <p>Таунхаус в скандинавском стиле</p>
                        </div>
                    </a>
                    <a href="#" class="projects-item">
                        <img src="/images/pic169.jpg" />
                        <div class="caption">
                            <h3>Комплекс апартаментов в Крыму</h3>
                        </div>
                    </a>
                    <a href="#" class="projects-item">
                        <img src="/images/pic169.jpg" />
                        <div class="caption">
                            <h3>Комплекс апартаментов в Крыму</h3>
                        </div>
                    </a>
                </div>
            </div>
            <hr>
            <div class="container">
                {{content}}
            </div>
            {% include cta.html %}
        </main>
        {% include footer.html %}
        <!-- Scripts -->
        {% include scripts.html %}
    </body>
</html>