<!DOCTYPE html>
<html lang="ru">
    {% include head.html %}
    <body class="is-loading">
        {% include header.html %}
        <main>
            <div class="container">
                {% include breadcrumbs.html %}
                <h1>{{page.page-title}}</h1>
                <p>{{page.page-description}}</p>
            </div>
            
            {% include worklist.html %}
        
            <div class="container big">
                <div class="projects-grid">
                    <a href="/proekty/taunhausy-dupleksy/karkasnyi-ekonom-dupleks-120m" class="projects-item">
                        <img
                            alt="Каркасный дуплекс ТМ-120"
                            title="Каркасный дуплекс ТМ-120"
                            width="1920"
                            height="1080"
                            src="/images/kgd/kgd-01_1920w.jpg"
                            srcset="/images/kgd/kgd-01_1920w.jpg 1920w, /images/kgd/kgd-01_1600w.jpg 1600w, /images/kgd/kgd-01_1200w.jpg 1200w, /images/kgd/kgd-01_800w.jpg 800w,  /images/kgd/kgd-01_400w.jpg 400w"
                            sizes="(max-width: 800px) 100vw, (max-width: 1100px) 42vw, 30rem"
                        >
                        <div class="caption">
                            <h3>Комплекс апартаментов в Крыму</h3>
                            <p>Подзаголовок или короткое описание</p>
                        </div>
                    </a>
                    <a href="/proekty/interyery/inter1" class="projects-item">
                        <img
                            alt="Каркасный дуплекс ТМ-120"
                            title="Каркасный дуплекс ТМ-120"
                            width="1920"
                            height="1080"
                            src="/images/inter1/05-2_1920w.jpg"
                            srcset="/images/inter1/05-2_1920w.jpg 1920w, /images/inter1/05-2_1600w.jpg 1600w, /images/inter1/05-2_1200w.jpg 1200w, /images/inter1/05-2_800w.jpg 800w,  /images/inter1/05-2_400w.jpg 400w"
                            sizes="(max-width: 800px) 100vw, (max-width: 1100px) 42vw, 30rem"
                        >
                        <div class="caption">
                            <h3>Дом в Подмосковье</h3>
                            <p>Интерьер который мы заслужили</p>
                        </div>
                    </a>
                    <a href="/proekty/taunhausy-dupleksy/karkasnyi-ekonom-dupleks-120m" class="projects-item">
                        <img
                            alt="Каркасный дуплекс ТМ-120"
                            title="Каркасный дуплекс ТМ-120"
                            width="1920"
                            height="1080"
                            src="/images/dom1/dom1-01_1920w.jpg"
                            srcset="/images/dom1/dom1-01_1920w.jpg 1920w, /images/dom1/dom1-01_1600w.jpg 1600w, /images/dom1/dom1-01_1200w.jpg 1200w, /images/dom1/dom1-01_800w.jpg 800w,  /images/dom1/dom1-01_400w.jpg 400w"
                            sizes="(max-width: 800px) 100vw, (max-width: 1100px) 42vw, 30rem"
                        >
                        <div class="caption">
                            <h3>Апарт отель в Крыму</h3>
                        </div>
                    </a>
                    <a href="/proekty/doma-kottedji/chastnaya-rezidenciya-v-podmoskovye" class="projects-item">
                        <img
                            alt="Каркасный дуплекс ТМ-120"
                            title="Каркасный дуплекс ТМ-120"
                            width="1920"
                            height="1080"
                            src="/images/rez/rez-01_1920w.jpg"
                            srcset="/images/rez/rez-01_1920w.jpg 1920w, /images/rez/rez-01_1600w.jpg 1600w, /images/rez/rez-01_1200w.jpg 1200w, /images/rez/rez-01_800w.jpg 800w,  /images/rez/rez-01_400w.jpg 400w"
                            sizes="(max-width: 800px) 100vw, (max-width: 1100px) 42vw, 30rem"
                        >
                        <div class="caption">
                            <h3>Резиденция в Подмосковье</h3>
                            <p>Современный частный дом скромного налогового инспектора</p>
                        </div>
                    </a>
                    <a href="/proekty/taunhausy-dupleksy/karkasnyi-ekonom-dupleks-120m" class="projects-item">
                        <img
                            alt="Каркасный дуплекс ТМ-120"
                            title="Каркасный дуплекс ТМ-120"
                            width="1920"
                            height="1080"
                            src="/images/dom2/dom2-01-2_1920w.jpg"
                            srcset="/images/dom2/dom2-01_1920w.jpg 1920w, /images/dom2/dom2-01_1600w.jpg 1600w, /images/dom2/dom2-01_1200w.jpg 1200w, /images/dom2/dom2-01_800w.jpg 800w,  /images/dom2/dom2-01_400w.jpg 400w"
                            sizes="(max-width: 800px) 100vw, (max-width: 1100px) 42vw, 30rem"
                            loading="lazy"
                        >
                        <div class="caption">
                            <h3>Частная резиденция</h3>
                            <p>Современный дом успешного наркоторговца</p>
                        </div>
                    </a>
                    <a href="/proekty/taunhausy-dupleksy/karkasnyi-ekonom-dupleks-120m" class="projects-item">
                        <img
                            alt="Каркасный дуплекс ТМ-120"
                            title="Каркасный дуплекс ТМ-120"
                            width="1920"
                            height="1080"
                            src="/images/mk-615-02.jpg"
                            loading="lazy"
                        >
                        <div class="caption">
                            <h3>Дом коливинг МК-615</h3>
                            <p>Дом коливинг на 15 квартир студий с эксплуатируемой кровлей</p>
                        </div>
                    </a>
                </div>
            </div>
            <hr>
            <div class="container">
                {{content}}
            </div>
            {% include cta.html %}
        </main>
        {% include footer.html %}
        <!-- Scripts -->
        {% include scripts.html %}
    </body>
</html>